@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 serif;
  font-family: "Noto Serif", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  background-color: #f2d6bd;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  max-height: 400px;
  overflow: hidden;
}

ul img {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.banner img {
  display: block;
  width: 100%;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  background-color: rgba(100, 0, 0, .3);
  display: inline-block;
  padding: 1rem;
  width: 100%;
}

header h1 {
  color: #fff;
  font-family: Roboto, sans-serif;
  margin-top: 0;
  margin-bottom: .5em;
  text-align: center;
}

h2,
h3 {
  color: #011f26;
  font-family: Roboto, sans-serif;
  margin-top: .5em;
  padding-top: .5em;
  margin-bottom: .5em;
  text-align: center;
}

nav {
  padding: 0 1.5rem 0 0;
}

header li {
  list-style-type: none;
}

header nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  float: none;
  padding: .5rem;
  white-space: nowrap;
  width: 100%;
}

ul {
  margin: 0;
}

.current {
  background-color: #011f26;
  border-radius: 10px;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #9fbfbf;
}

div .headline {
  float: left;
  margin-bottom: 2em;
}

.section1 {
  border-bottom: 2px dotted #9fbfbf;
  padding-bottom: 1.5em;
}

.section2 {
  padding-bottom: 1.5em;
  text-align: center;
}

.headline p {
  margin-top: 1em;
  padding: 0 2em;
  color: #011f26;
}

.description p {
  margin-top: 0;
  margin-bottom: 2em;
  padding: 0 2em;
}

.btn-link {
  padding-top: .25em;
  text-decoration: none;
  text-align: center;
}

.btn-container {
  margin: .5em 0;
  padding-bottom: .5em;
}

.btn {
  background-color: #9fbfbf;
  border-radius: 10px;
  box-shadow: 5px 5px 4px 4px #888;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 1.2em;
  padding: .4em .75em .5em;
  text-align: center;
}

.storefront {
  background-color: #9fbfbf;
  box-shadow: 5px 5px 4px 4px #888;
  border-radius: 10px;
  margin: 1em;
  padding: 1em 0;
}

div .storefront {
  float: left;
}

.storefront img {
  display: block;
  width: 100%;
  max-width: 600px;
}

.hours {
  margin-top: 0;
  margin-bottom: 2em;
  padding: 0 2em;
}

.hours h2,
.hours p {
  color: #011f26;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px dotted #9fbfbf;
  margin: 1em 0;
  padding: 0 1em;
  width: 100%;
}

.confectioners img {
  width: 100%;
}

figcaption {
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 2em;
}

.storefront figcaption {
  margin-bottom: 0;
  text-align: center;
}

.products p {
  margin-top: 0;
  padding: 0 2em;
}

.cards {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0 .5em;
  width: 100%;
}

.card {
  background-color: #9fbfbf;
  box-shadow: 5px 5px 4px 4px #888;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
  margin: 1em;
  width: 95%;
}

.card-img img {
  width: 75px;
}

div .card-img {
  margin-right: auto;
  margin-left: auto;
}

.card-body {
  margin-bottom: .75em;
}

.contacts1 p,
.contacts2 p {
  text-align: center;
  margin: 0;
}

address {
  display: block;
  font-style: normal;
  color: #011f26;
}

.contacts1 a,
.contacts2 a {
  color: #011f26;
  display: block;
  text-align: center;
}

footer {
  border-top: 2px dotted #9fbfbf;
  display: block;
  color: #8c6751;
  padding-top: 1em;
  padding-left: 1em;
  margin-top: 1.5em;
  position: relative;
  left: 15px;
  bottom: 0;
  font-size: small;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .banner-content {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  h1,
  h2,
  p {
    margin: 0 0 1.3rem;
  }

  header nav {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  nav li {
    float: left;
    margin: 0;
    padding: .3em 0;
    width: 23%;
  }

  .hours {
    margin-bottom: 1em;
    padding: 0 2.5em;
    display: inline-block;
    text-align: center;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  header {
    position: relative;
  }

  .img-flex {
    display: block;
    width: 100%;
    height: 100%;
  }

  .banner-content {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .45);
    position: absolute;
    top: 150px;
    left: 30px;
    margin: auto;
    padding: 0;
    max-width: 90%;
  }

  .current {
    background-color: #9fbfbf;
  }

  a:hover {
    color: #959895;
  }

  h1 {
    margin-bottom: 0;
    padding-top: .75em;
  }

  h2,
  p {
    margin: 0 0 1.4rem;
  }

  nav {
    padding-top: 0;
  }

  nav li {
    float: left;
    margin: 0;
    padding: .5em .25em;
    width: 25%;
  }

  .section1,
  .section2 {
    display: inline-block;
  }

  .headline {
    display: inline-block;
    float: left;
    padding: 0;
    width: 49%;
  }

  .storefront {
    display: inline-block;
    float: left;
    margin: 1em 0 .5em;
    width: 49%;
  }

  .headline p {
    display: inline-block;
    width: 100%;
  }

  .about h2 {
    display: inline-block;
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
  }

  .coco {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }

  .candy {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }

  .section2 {
    width: 100%;
  }

  .hours {
    float: left;
    width: 49%;
    margin-bottom: 1em;
    padding: 0;
  }

  .contacts1 {
    float: right;
    width: 49%;
    margin-bottom: 1em;
  }

  .card-section1,
  .card-section2 {
    display: inline-block;
    width: 100%;
  }

  .card-img {
    display: inline-block;
    float: left;
    width: 12%;
  }

  .card-body {
    display: inline-block;
    float: left;
    margin-top: 0;
    margin-left: 1em;
    padding-left: 1em;
    width: 84%;
  }

  .card-body h3 {
    text-align: left;
    margin-top: 0;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .banner {
    position: relative;
  }

  .banner-content {
    width: 50%;
  }

  h1,
  h2,
  p {
    margin: 0 0 1.5rem;
  }

  ul .card {
    display: inline-block;
    width: 45%;
    margin: .75em .75em .75em 1.5em;
  }

  .card-img {
    display: inline-block;
    float: none;
    width: 100%;
    text-align: center;
  }

  .card-body h3 {
    text-align: center;
    margin-top: 0;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }
}
